*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}
.ToDo{
    width: 100%;
    max-width: 540px;
    padding: 40px 30px 70px;
    margin: 100px auto 20px;
    border-radius: 12px;
    background: white;
}
.ToDo h2{
    color:darkblue;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.ToDo img{
    width:50px;
    margin-left: 5px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background: #edeef0;
    padding-left: 20px;
    border-radius: 30px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 40px;
    background: #ff5945;
    color: white;
    cursor: pointer;
    font-size:15px ;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding:12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width:28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left:8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top:5px;
    width:40px;
    height: 40px;
    font-size:22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
ul li span:hover{
    background: gray
    
}


